.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table,
.cell {
    border-collapse: collapse;
    border: 1px solid;
}

.cell {
    text-align: center;
}

.link {
    display: block;
    padding: 0.5rem;

    &:hover,
    &:focus {
        color: orange;
        background-color: aliceblue;
    }
}

.label {
    display: block;
    padding: 0.5rem;
}